@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes flame {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .fire-emoji {
    animation: flame 1s infinite;
  }
  
  /* 
    You can use the following style to create the 
    appearance of multiple flames by adjusting the 
    delay between each flame's animation 
  */
  .fire-emoji:nth-of-type(2) {
    animation-delay: -0.2s;
  }
  .fire-emoji:nth-of-type(3) {
    animation-delay: -0.4s;
  }
  .fire-emoji:nth-of-type(4) {
    animation-delay: -0.6s;
  }
  .fire-emoji:nth-of-type(5) {
    animation-delay: -0.8s;
  }

  .card1 {
    @apply transition-colors duration-500;
  }
  
  .card1:hover {
    @apply bg-black;
  }


  .card2 {
    @apply transition-colors duration-500;
  }
  
  .card2:hover {
    @apply bg-[#2a2a2a];
  }

 
  .card3 {
    @apply transition-colors duration-500;
  }
  
  .card3:hover {
    @apply bg-[#555555];
  }

  .card4 {
    @apply transition-colors duration-500;
  }
  
  .card4:hover {
    @apply bg-[#555555] rounded-none;

  }


  .uploadcard {
    @apply transition-colors duration-500;
  }
  
  .uploadcard:hover {
    @apply bg-[#101010];
  }

  .backgroundGradient {
    @apply bg-gradient-to-r from-[#1a1a1a] to-[#2a2a2a];
  }

  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  .shadow-gradient {
    shadow: text-gradient-color 0 0.125rem 0.5rem;
  }